.AdminLogin {
    height: 100vh;
    width: 100vw;
    z-index: 11;
    background-image: url(./imgs/Homebg.png);
    background-size: cover;
    position: absolute;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loginForm {
    background-color: rgb(26, 23, 19);
    width: 40vw;
    margin-left: 30vw;
    margin-top: 30vh;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.loginForm h2 {
    color: white;
}

.loginForm input {
    outline-style: none;
    margin: 8px 0 8px 0;
    height: 30px;
    width: 30vw;
    background-color: rgb(71, 55, 55);
    border-radius: 5px;
}

.loginForm button {
    padding: 2px;
    width: 30vw;
    margin: 8px 0 8px 0;
    height: 30px;
    font-weight: 700;
}

@media screen and (max-width: 989px) {
    .loginForm {
        width: 80vw;
        margin-left: 10vw;
    }

    .loginForm input {
        width: 60vw;
    }
}