.Home {
    height: 100%;
    margin: 0;
    padding-top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
}

.homeContent::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
} 

.homeContent {
    z-index: -1;
    position: relative;
    margin-left: 0;
    width: 100vw;
    background-image: url(imgs/Homebg.png);
    background-size: cover;
    height: 100vh;
}



.homeContent h2 {
    font-size: 50px;
    color: white;
    margin-bottom: 0;
    margin-left: 30vw;
    position: absolute;
    margin-top: 40vh;
    opacity: 0;
    transform: scale(0);
    transition:  opacity 1s ease-in-out, transform 1s ease-in-out;
}

.homeContent .logo {
    margin-top: 30vh;
    margin-left: 10vw;
    height: 30vh;
    width: 30vh;
    z-index: 10;
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition:  opacity 1s ease-in-out, transform 1s ease-in-out;
}

.homeContent .slide-inlogo {
    opacity: 1;
    transform: scale(1);

}

.homeContent .slide-inh2 {
    opacity: 1;
    transform: scale(1);

}



.homeContent p {
    color: white;
    margin-left: 30vw;
    position: absolute;
    margin-top: 48vh;
    opacity: 0;
    transform: scale(0);
    transition:  opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
}

.homeContent .slide-inp {
    opacity: 1;
    transform: scale(1);
}

.Home .aboutUs header {
    background-color: rgb(45, 24, 24);
}

.Home .aboutUs .slide-inheader {
    opacity: 1;
    transform: scale(1);
}

.Home .aboutUs .services {
    opacity: 1;
    transform: scale(1);
}


.contactUs h2{
    color: black;
}

.contactUs p{
    color: black;
}

.Home .contactUs {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    background-color: rgb(243, 240, 240, 0.0);
    opacity: 1;
    transform: scale(1);
}

.Home .contactUs div {
    background-color: rgb(115, 82, 82);
    border-radius: 30px;
    padding: 20px;
    margin-left: 20px;
    width: 35vw;
    height: 200px;

}

.Home .contactUs h2 {
    margin-left: 40px;
}

.Home .contactUs p {
    font-weight: 700;
    margin-left: 40px;
}

.Home .contactUs .img1 {
    position: relative;
    height: 240px;
    width: 40vw;
    right: 7vw;
    margin-left: auto;
}

.Home .formSec {
    margin: 25px;
    display: flex;
    flex-direction: row;
}

.Home .formSec .img2 {
    margin-top: 15px;
    height: 35vh;
    width: 35vw;
    margin-right: auto;
    margin-left: 5vw;
}

.Home .formSec .subForm {
    margin-top: 0;
    width: 35vw;
    height: 30vh;
    border-radius: 40px;
    margin: 10px 7vw 10px 0;
    background-color: rgb(115, 82, 82);
    opacity: 1;
    transform: scale(1);
}

.Home .formSec .subForm h3 {
    margin-left: 2.3vw;
}

.Home .formSec .subForm form {
    margin-left: 2.3vw;
}

.Home .formSec .subForm button {
    transition: all ease-in-out 1s;
    border: none;
}


.Home .formSec .subForm button:hover {
    background-color: rgb(54, 48, 48);
    box-shadow: 3px 3px 5px rgb(220, 213, 213);
    color: white;
}

.Home .price {
    margin-top: 5px;
    margin-bottom: 0;
    background-color: rgb(115, 82, 82);
    opacity: 1;
    transform: scale(1);
}

.Home .supportCont {
    border-radius: 30px;
    margin-top: 30px ;
    margin-bottom: 30px;
    background-color: rgb(115, 82, 82);
    opacity: 1;
    transform: scale(1);
}

.Home .supportCont h2{
    font-size: 40px;
}


@media screen and (max-width: 998px) {
    .Home {
        overflow-x: hidden;
    }

    .homeContent .logo {
        margin-top: 20vh;
        width: 50vw;
        margin-left: 25vw;
    }

    .homeContent h2{
        font-size: 22px;
        margin-left: 20vw;
        width: 90vw;
        margin-top: 53vh;
    }

    .homeContent p {
        margin-left: 20vw;
        margin-top: 57vh;

    }

    .Home .aboutUs {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .Home .aboutUs h3{
        color: black;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .Home .aboutUs .services {
        margin: 0;
    }

    .Home .aboutUs .services .service {
        margin-left: 20px;
    }

    .Home .contactUs {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        width: 100vw;
    }

    .Home .contactUs div {
        position: relative;
        width: 100%;
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: 0;
        border-radius: 0;
        margin-bottom: 0;
    }

    .Home .contactUs .img1 {
        margin-left: 0;
        width: 100%;
        margin-top: 0;
        padding: 0;
        right: 0;
    }

    .Home .formSec {
        margin-top: 45vh;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .Home .formSec .img2 {
        margin-top: 1px;
        width: 70vw;
        margin-left: 12vw;
        display: none;
    }

    .Home .formSec .subForm {
        margin-top: 0;
        width: 65vw;
        height: 40vh;
        border-radius: 40px;
        margin: 10px 0 10px 10vw;
        background-color: rgb(115, 82, 82);
    }

    .Home .formSec .subForm form input {
        width: 60vw;
    }


    .Home .formSec .subForm form button {
        width: 80px;
    }

    .Home .price {
        margin-top: 5px;
        margin-bottom: 0;
        background-color: rgb(115, 82, 82);
        width: 65vw;
        margin-left: 14vw;
    }
    
    .Home .supportCont {
        margin-top: 5px;
        margin-bottom: 0;
        background-color: rgb(115, 82, 82);
        width: 65vw;
        margin-left: 14vw;
    }
    
    .Home .supportCont h2{
        font-size: 40px;
    }

    .Home .supportCont .links ul{ 
        margin-left: 0;
        padding: 0;
    }

    .Home .supportCont .links ul li {
        margin-right: 10px;
        margin-left: 0;
    }
    
    .Home .supportCont .links ul li a {
        text-decoration: none;
        color: inherit;
    }
    


}